<p><%= t("user_mailer.passwordless.greeting") %></p>

<p><%= t("user_mailer.passwordless.instructions") %></p>

<p><%= link_to t("user_mailer.passwordless.sign_in"), passwordless_sessions_url(locale: @locale, sid: @signed_id) %></p>

<p><%= t("user_mailer.passwordless.expiry") %></p>

<p><%= t("user_mailer.passwordless.ignore") %></p>
